@import "catppuccin_mocha.css";
@import "statistics.css";

* {
    font-family: "JetBrainsMono Nerd Font", "Fira Code";
    font-size: 14px; }

window.top_bar#waybar {
    background-color: alpha(@base, 0.8);
    border-left: solid alpha(@surface1, 0.7) 2px;
    border-bottom: solid alpha(@surface1, 0.7) 2px;
    border-right: solid alpha(@surface1, 0.7) 2px;
    border-radius: 0px 0px 15px 15px;
}

window.bottom_bar#waybar {
    background-color: alpha(@base, 0.8);
    border-left: solid alpha(@surface1, 0.7) 2px;
    border-top: solid alpha(@surface1, 0.7) 2px;
    border-right: solid alpha(@surface1, 0.7) 2px;
    border-radius: 15px 15px 0px 0px;
}

window.left_bar#waybar {
    background-color: alpha(@base, 0.8);
    border: solid alpha(@surface1, 0.7) 2px;
    border-radius: 15px;
}

/* module zones */
window.top_bar .modules-left {
    padding-left: 14px;
}

window.top_bar .modules-right {
    border-radius: 15px 0px 15px 15px;
    padding-right: 14px;
}

window.top_bar .modules-center {
    font-weight: bold;
    background-color: alpha(@surface0, 0.7);
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

window.bottom_bar .modules-left {
    background-color: alpha(@surface0, 0.7);
    border-radius: 15px 15px 15px 0px;
    padding-left: 14px;
    padding-right: 14px;
}

window.bottom_bar .modules-right {
    background-color: alpha(@surface0, 0.7);
    border-radius: 15px 15px 0px 15px;
    padding-left: 14px;
}

window.left_bar .modules-left {
    padding-top: 14px;
}

window.left_bar .modules-right {
    padding-bottom: 14px;
}

window.left_bar .modules-center {
    font-size: 18px;
    background-color: alpha(@surface0, 0.7);
    border-radius: 0px 15px 15px 0px;
    padding-top: 14px;
    padding-bottom: 14px;
    margin-right: 10px;
}

/* separators */
#custom-separator {
    color: @lavender;
    padding-left: 6px;
    padding-right: 6px;
}

#custom-separator-dot {
    color: @lavender;
    padding-left: 6px;
    padding-right: 6px;
}

/* workspaces */
#workspaces {
    background-color: alpha(@base, 0.0);
    border-radius: 40px;
}

#workspaces button {
    color: @peach;
    border-radius: 30px;
}

#workspaces button.empty {
    color: @overlay0;
}

#workspaces button.active {
    color: @green;
}

/* clock */
#clock.time {
    color: @green;
}

#clock.week {
    color: @peach;
}

#clock.month {
    color: @peach;
}

#clock.calendar {
    color: @red;
}

/* right modules */
#battery {
    color: @teal;
    background-color: alpha(@surface0, 0.7);
    padding-right: 14px;
    padding-left: 8px;
    border-radius: 0px 15px 15px 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#battery.low {
    color: @red;
}

#battery.lower-medium {
    color: @maroon;
}

#battery.medium {
    color: @peach;
}

#battery.upper-medium {
    color: @flamingo;
}

#battery.high {
    color: @rosewater;
}


#backlight {
    color: @overlay0;
    background-color: alpha(@surface0, 0.7);
    border-radius: 15px 0px 0px 15px;
    padding-left: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#backlight.low {
    color: @overlay1;
}

#backlight.lower-medium {
    color: @overlay2;
}

#backlight.medium {
    color: @subtext0;
}

#backlight.upper-medium {
    color: @subtext1;
}

#backlight.high {
    color: @text;
}

/* sound */
#pulseaudio {
    color: @red;
    background-color: alpha(@surface0, 0.7);
    padding-left: 14px;
    padding-right: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 8px;
    border-radius: 15px;
}

#pulseaudio.low {
  color: @teal;
}

#pulseaudio.lower-medium {
  color: @green;
}

#pulseaudio.medium {
  color: @yellow;
}

#pulseaudio.upper-medium {
  color: @peach;
}

#pulseaudio.high {
  color: @maroon;
}

#pulseaudio.bluetooth {
  color: @sapphire;
}

#pulseaudio.muted {
  color: @surface2;
}


/* networking */
#bluetooth {
  background-color: alpha(@surface0, 0.7);
  border-radius: 15px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 8px;
}

#bluetooth.disabled {
  background-color: alpha(@surface0, 0.7);
  color: @subtext0;
}

#bluetooth.on {
  color: @blue;
}

#bluetooth.connected {
  color: @sapphire;
}

#network {
  background-color: alpha(@surface0, 0.7);
  border-radius: 15px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 8px;
}

#network.disabled {
  background-color: alpha(@surface0, 0.7);
  color: @subtext0;
}

#network.disconnected {
  color: @red;
}

#network.wifi {
  color: @teal;
}


#custom-powermenu {
    font-size: 18px;
    font-weight: bold;
    color: #d20f39;
    background-color: alpha(@crust, 0.7);
    border-radius: 15px;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
}


/* bottom elements */
#window {
    color: @mauve;
}


#language {
    color: @text;
    background-color: alpha(@surface1, 0.7);
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px 15px 0px 15px;
}


#keyboard-state label {
    color: @subtext0;
    padding-left: 8px;
    padding-right: 8px;
}


#keyboard-state label.locked {
    color: @yellow;
}

