#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=DeepSeek
Exec=/usr/bin/qutebrowser --target window "https://chat.deepseek.com"
Icon=/usr/share/icons/desktop/deepseek-logo-icon.svg
StartupWMClass=deepseek

