#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=GitLab
Exec=/usr/bin/qutebrowser --target window "https://gitlab.com"
Icon=/usr/share/icons/desktop/gitlab-icon.svg
StartupWMClass=gitlab

