#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Matplotlib
Exec=/usr/bin/qutebrowser --target window "https://matplotlib.org"
Icon=/usr/share/icons/desktop/matplotlib-icon.svg
StartupWMClass=matplotlib

